.about {
  background-color: $about-bg;
}
.about .container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  h2 {
    font-size: $font-size-md * 3;
    text-transform:uppercase;
    color: $white;
  }
  .star {
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    color: $white;
    &:after {
      background-color: $green;
      color: $white;
    }
  }
  .article {
    column-count: 2;
    column-gap: 25px;
    padding: 0 15% 0 15%;
    hyphens: auto;
    font-size: $font-size-lg;
    text-align: left;
    font-weight: 300;
    color: $white;
  }
  @media only screen and (max-width: 64em) {
    .article {
      padding: 0;
      column-count: 1;
      hyphens: auto;
      font-size: $font-size-lg;
      text-align: left;
      font-weight: 300;
      color: $white;
    }
  }
}
