body {
  height: 100vh;
    .header {
      .container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: $dark-blue;
      .row div {
        span {
           letter-spacing: 0.05rem;
           margin-left: $unit;
           text-transform: uppercase;
           font-weight: 700;
           font-size: $font-size-lg * 1.60;
           color: $white;
        }
        @media only screen and (min-width: 64em) {
          button {
            display: none;
          }
          .main-nav{
          display: block !important;
          } 
        }
        @media only screen and (max-width: 64em) {
          .main-nav {
            display: none;
          }
        }
      }
    }
  }
}
