.main-logo {
  width: 100%;
  background-color: $main-logo-bg;
}
.main-logo .container {
  padding-top: 8rem;
  padding-bottom: 6.25rem;
  h1 {
    margin-top: 0.58rem;
    font-size: $font-size-md * 4.75;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }
  .star {
    margin-top: 1.85rem;
    margin-bottom: 2rem;
    color: $white;
    &:after {
      background-color: $green;
      color: $white;
    }
  }
  .skills {
    span {
      display: inline-block;
      font-size: $font-size-md * 1.57;
      font-weight: 300;
      color: $white;
    }
    i {
      font-size: .3rem;
    }
  }
  @media only screen and (max-width: 64em) {
    h1 {
      font-size: $font-size-md * 3;
    }
  }
  @media only screen and (max-width: 48em) {
    h1 {
      font-size: $font-size-md * 2;
    }
  }
}

@media only screen and (max-width: 64em) {
  .main-logo .container {
    padding-top: 8.75rem;
  }
}
@media only screen and (max-width: 48em) {
  .main-logo .container {
    padding-top: 6.50rem;
  }
}
