.portfolio .container {
  padding-top: 5.5rem;
  padding-bottom: 6.5rem;
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $gray-900;
  }
  hr {
    margin-top: 1.15rem;
    margin-bottom: 1.8rem;
    color: $gray-900;
    &:after {
      background-color: $white;
      color: $gray-900;
    }
  }

  .portfolio-link {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    line-height: 0;
    .bg-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $green;
      opacity: 0.1;
      transition: .3s ease-in-out;
      .search {
        position: absolute;
        margin-top: 27%;
        margin-left: 42%;
        color: $white;
        visibility: hidden;
      }
    }
    &:hover .bg-image {
      opacity: 1;
    }
    &:hover .search {
      visibility: visible;
      opacity: 1;
    }
  }

  .modal {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 42.1%;
    width: 800px;
    //margin: 0 auto;
    background-color: $gray-500;
    z-index: 1050;
    .fluid-img {
      width: 90%;
    }
    p {
      text-align: center;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: $font-size-md;
      font-weight: 300;
    }
    span {
      display: block;
      a {
        text-decoration: none;
        color: $green;
      }
    }
    .close {
      display: inline-block;
      position: relative;
      padding: 5px 15px 5px 15px;
      margin-top: $unit / 2;
      margin-bottom: $unit;
      font-size: 1rem;
      font-weight: 400;
      text-decoration: none;
      color: rgb(255,255,255);
      background: rgb(24,188,156);
      border: 2px solid rgb(255,255,255);
      border-radius: 5px;
      outline: 0;
    }
  }
  .overlay {
    //display: none;
    position: fixed;
    z-index: 1040;
    background-color: $gray-900;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }
}
