.portfolio .container {
  padding-top: 5.5rem;
  padding-bottom: 6.5rem;
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $gray-900;
  }
  hr {
    margin-top: 1.15rem;
    margin-bottom: 1.8rem;
    color: $gray-900;
    &:after {
      background-color: $white;
      color: $gray-900;
    }
  }
}
