.text-center {
  text-align: center;
}

.fluid-img {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.nopadding {
  padding: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.not-active {
   pointer-events: none;
   cursor: default;
}
